.container {    
    display: flex;    
    
    

    background-color: darkgray;
    height: 290px;
    color: #fff;
}

.r1 {
    flex-grow: 1;
    background-color: red;
}

.r2 {
    flex-grow: 2;
    background-color: blue;
}

.r3 {
    /* flex-shrink = propriedade que recebe 0 (não pode encolher) e 1 (pode encolher) */
    /* flex-shrink: 0; */


    /* flex-grow = propriedade que recebe 0 (não pode esticar) e 1 (pode esticar) */
    /* colocando valores > 1 o box fica maior */
    flex-grow: 3;
    background-color: green;
}

.rect {
    
    /* como todos estão com grow não precisamos mais do width */
    /* width: 150px; */
    height: 100px;
}