img {
    width: 420px;
    /* rodar a imagem(valor pode ser negativo tbm) */
     /* transform:rotate(45Deg)  */

     /* aumenta ou diminui a escala (podendo dobrar "2" ou deixar metade do tamanho "0.5")*/
     /* transform: scale(2); */
     /* transform: scale(0.5); */
     /* transform: scale(2, 1); */

    /* puxa a imagem(valor pode ser negativo tbm) */
     /* transform: skew(40deg);  */
     /* transform: skew(-40deg, 30deg);  */


     /* efeito parecido como se alguém visse um porta retrato */
     transform: skew(30deg, 30deg) scale(0.7, 1);
}

/* também podemos utilizar para outros elementos */
div {
    width: 420px;
    height: 300px;
    background-color: red;
    transform: skew(-30deg, -30deg) scale(0.7, 1);
}