.container {    
    display: flex;    
    
    

    background-color: darkgray;
    height: 290px;
    color: #fff;
}


/* como padrão todos os itens tem order: 0; */
.r1 {
    order: 3;
    background-color: red;
}

.r2 {
    order: 1;
    background-color: blue;
}

.r3 {
    order: 2;
    background-color: green;
}

.rect {   
    width: 150px;
    height: 150px;
}