body {
    background-image: url('images/lenha.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;  
}

div {    
    position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
    padding: 30px;  
    border-radius: 10px;
    background-color: rgba(148, 196, 238, 0.5);    
}

input {
    padding: 5px;

}

#button{
    padding: 10px;
    background-color: rgba(88, 8, 8, 0.9);
    color: rgb(221, 200, 200);
    border: none;
}

p {
    font-size: 20px;
}

#button:hover {
    background-color: brown;
}


    